.card {
  display: flex;
  width: min-content;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: transform 0.2s;
}
.card:hover{
  transform: scale(1.04);
}
img {
  border-radius: 8px;
}

.card nav {
  padding-inline: 20px;
  display: inline-block;
}
