header {
  padding: 10px;
  padding-inline: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: antiquewhite;
  border-radius: 10px;
}

main {
  padding-inline: 20%;
  padding-top: 5%;
  margin: 0 auto;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.products-container{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
